<div class="panel panel-default imageGalleryWidget" ng-show="content.type != 'quiz' && content.type != 'poll'"> <div class="panel-heading"> <h5 translate>IMAGE_GALLERY</h5> </div> <div class="panel-body"> <div class="row"> <div class="col-md-3"><button class="form-control btn btn-primary" ng-click="openGallery($event)" translate>ADD_IMAGES</button></div> <div class="col-md-9">&nbsp;</div> </div> <br> <div class="row galleryItem" ng-class="{'first': $index==0, 'last': $index+1==content.Galery.length}" ng-repeat="item in content.Galery | orderBy:'order'"> <div class="col-md-12"> <!-- GalleryImage --> <div class="row gal-image-item"> <div class="col-md-3"> <a href="#"> <image-api format="300x300"></image-api> </a> <button class="form-control btn btn-primary" ng-click="removeGalItem(item, $event)" translate>REMOVE_IMAGE</button> </div> <div class="col-md-9"> <ul class="postOrder pull-right"> <li><button ng-click="setOrderUp(item, $event)" class="btn btn-xs btn-default fa fa-arrow-up"></button></li> <li><button ng-click="setOrderDown(item, $event)" class="btn btn-xs btn-default fa fa-arrow-down"></button></li> </ul> <div class="form-group"> <label for="title" class="hidden" translate>Title</label> <input type="text" ng-model="item.title" class="form-control" name="title" id="title" placeholder="{{'TITLE' | translate}}"> </div> <div class="form-group"> <label for="title" class="hidden" translate>DESCRIPTION</label> <textarea class="form-control" ng-model="item.description" name="description" id="description" placeholder="{{'DESCRIPTION	' | translate}}"></textarea> </div> <div class="form-group"> <label for="title" class="hidden" translate>CREDITS</label> <input type="text" ng-model="item.credits" class="form-control" name="credits" id="credits" placeholder="{{'CREDITS' | translate}}"> </div> </div> </div> <!-- /GalleryImage --> </div> </div> </div> </div> <style>.postOrder { 
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.postOrder li { 
		float: left;
	}</style>