<!doctype html> <html class="no-js"> <head> <meta charset="utf-8"> <title></title> <meta name="description" content=""> <meta name="viewport" content="width=device-width"> <!-- Place favicon.ico and apple-touch-icon.png in the root directory --> <link rel="stylesheet" href="styles/vendor.a86205e3.css"> <link rel="stylesheet" href="styles/main.0c0814eb.css">  <body ng-app="dreamzApp" class="{{classBody}}"> <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]--> <!-- Add your site or application content here --> <div class="container-fluid"> <div class="row"> <div class="col-md-12"> <div id="mainMenu" class="navbar navbar-default navbar-fixed-top"> <div class="container-fluid"> <div class="navbar-header"> <a class="navbar-brand" href="/">Container</a> <div class="edtInfo"> <sites-list></sites-list> <editorial-list></editorial-list> </div> </div> <user-info></user-info> </div> </div> </div> </div> </div> <div id="mainContent" class="container-fluid navLeft"> <menu></menu> <div class="col-md-12" id="contentView"> <div ng-view=""></div> </div> </div> <login-modal></login-modal> <attachment-browser></attachment-browser> <notifications></notifications> <!-- Google Analytics: change UA-XXXXX-X to be your site's ID
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>--> <!--[if lt IE 9]>
    <script src="scripts/oldieshim.76f279db.js"></script>
    <![endif]--> <script src="scripts/vendor.037ad77b.js"></script> <script src="scripts/scripts.a0033c96.js"></script>  