<div> <!--<div class="row">
		<div class="col-lg-12" ng-if="userCan('Analytics:visits')">
			<analytics-visits2></analytics-visits2>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6" ng-if="userCan('Analytics:visits')">
			<analytics-visits></analytics-visits>
		</div>
		<div class="col-lg-6" ng-if="userCan('Analytics:keywords')">
			<analytics-keywords></analytics-keywords>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12"  ng-if="userCan('Analytics:pageviews')">
			<analytics-pageviews></analytics-pageviews>
		</div>
	</div>--> </div>