<div class="row"> <div class="panel panel-default"> <div class="panel-heading"> <h3 class="panel-title" translate>LIST_CONTENT</h3> </div> <div class="panel-body"> <div class="row"> <div class="col-lg-12"> <tablelist></tablelist> </div> </div> </div> </div> </div>