
/***************** GERAL *****************/
/*
body {
	background: #FFF;
	color: #333;
	margin: 0px;
	padding: 200px 0px 0px 0px;
}
*/

#homeView {
  background: #FFF;
	color: #333;
	margin: 0px;
}
#homeView ul, 
#homeView li {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#homeView a {
	text-decoration: none;
	color: #000;
}
#homeView .center {
	width: 1056px;
	margin: 0 auto;
}
#homeView .center h1,
#homeView .lista-relacionados h1 {
	font-family: 'Rajdhani', sans-serif;
	font-size: 40px;
	font-weight: 400;
	color: #333333;
	border-bottom: 1px solid #d0d0d0;
	margin: 0px 0px 25px 0px;
}
#homeView .left {
	float: left;
}
#homeView .right {
	float: right;
}
#homeView .publicidade {
	background: url(/images/templates/home/images/bg-publicidade.png) center top repeat;
}
#homeView .publicidade300x250	{
	width: 300px;
	height: 250px;
	background: #CCC;
}
#homeView .publicidade728x90{
	width: 728px;
	height: 90px;
	background: #CCC;
	margin: 0 auto;
}
#homeView .publicidade468x60 {
	width: 468px;
	height: 60px;
	background: #CCC;	
}
#homeView #content {
	background: url(/images/templates/home/images/background-destaques.jpg) left top repeat-x;
}


/* Cores Editorias */
#homeView #menu-bar ul li.celebridades {
	border-top: 3px solid #ff004e;
}
#homeView #menu-bar ul li.celebridades:hover > a,
/*#menu-bar ul li.celebridades.hover > a,*/
#homeView #menu-bar ul li.celebridades ul,
#homeView .celebridades.top-1:before, 
#homeView .celebridades.top-2:before, 
#homeView .celebridades.top-3:before, 
#homeView .celebridades.top-4:before, 
#homeView .celebridades.top-5:before,
#homeView .carrossel ul li.celebridades:hover,
#homeView .celebridades .lista-alfabetica a.hover,
#homeView .celebridades .lista-alfabetica a:hover,
#homeView .celebridades .paginacao a.hover,
#homeView .celebridades .paginacao a:hover,
#homeView .editorias.celebridades .editoria-item-icon,
#homeView .editorias.celebridades .destaque-data,
#homeView .lista-videos.celebridades .mais-videos,
#homeView .box-noticias-destaque.celebridades {
	background-color: #ff004e;
}
#homeView .lista-videos.celebridades .editoria-item-icon {
	background-color: #ff004e!important;
}
#homeView .celebridades .legenda-texto h3,
#homeView .celebridades .legenda-texto h3 a,
#homeView .celebridades .realitie-item h3,
#homeView .editorias.celebridades .editoria-texto h3 a:hover,
#homeView .editorias.celebridades .editoria-data p  {
	color: #ff004e;
}
#homeView #menu-bar ul li.estilo {
	border-top: 3px solid #a30dfc;
}
#homeView #menu-bar ul li.estilo:hover > a,
/*#menu-bar ul li.estilo.hover > a,*/
#homeView #menu-bar ul li.estilo ul,
#homeView .estilo.top-1:before, 
#homeView .estilo.top-2:before, 
#homeView .estilo.top-3:before, 
#homeView .estilo.top-4:before, 
#homeView .estilo.top-5:before,
#homeView .carrossel ul li.estilo:hover,
#homeView .estilo .paginacao a.hover,
#homeView .estilo .paginacao a:hover,
#homeView .editorias.estilo .editoria-item-icon,
#homeView .editorias.estilo .destaque-data,
#homeView .lista-videos.estilo .mais-videos,
#homeView .box-noticias-destaque.estilo {
	background-color: #a30dfc;
}
#homeView .lista-videos.estilo .editoria-item-icon {
	background-color: #a30dfc!important;
}
#homeView .estilo .legenda-texto h3 a,
#homeView .estilo .realitie-item h3,
#homeView .editorias.estilo .editoria-texto h3 a:hover,
#homeView .editorias.estilo .editoria-data p {
	color: #a30dfc;
}
#homeView #menu-bar ul li.realities {
	border-top: 3px solid #ff7011;
}
#homeView #menu-bar ul li.realities:hover > a,
/*#menu-bar ul li.realities.hover > a,*/
#homeView #menu-bar ul li.realities ul,
#homeView .realities.top-1:before, 
#homeView .realities.top-2:before, 
#homeView .realities.top-3:before, 
#homeView .realities.top-4:before, 
#homeView .realities.top-5:before,
#homeView .carrossel ul li.realities:hover,
#homeView .realities .lista-alfabetica a.hover,
#homeView .realities .lista-alfabetica a:hover,
#homeView .realities .paginacao a.hover,
#homeView .realities .paginacao a:hover,
#homeView .editorias.realities .editoria-item-icon,
#homeView .editorias.realities .destaque-data,
#homeView .lista-videos.realities .mais-videos,
#homeView .box-noticias-destaque.realities {
	background-color: #ff7011;
}
#homeView .lista-videos.realities .editoria-item-icon {
	background-color: #ff7011!important;
}
#homeView .realities .legenda-texto h3 a,
#homeView .realities .realitie-item h3,
#homeView .editorias.realities .editoria-texto h3 a:hover,
#homeView .editorias.realities .editoria-data p {
	color: #ff7011;
}
#homeView #menu-bar ul li.series {
	border-top: 3px solid #1197ff;
}
#homeView #menu-bar ul li.series:hover > a,
/*#menu-bar ul li.series.hover > a,*/
#homeView #menu-bar ul li.series ul,
#homeView .series.top-1:before, 
#homeView .series.top-2:before, 
#homeView .series.top-3:before, 
#homeView .series.top-4:before, 
#homeView .series.top-5:before,
#homeView .carrossel ul li.series:hover,
#homeView .series .lista-alfabetica a.hover,
#homeView .series .lista-alfabetica a:hover,
#homeView .series .paginacao a.hover,
#homeView .series .paginacao a:hover,
#homeView .editorias.series .editoria-item-icon,
#homeView .editorias.series .destaque-data,
#homeView .lista-videos.series .mais-videos,
#homeView .box-noticias-destaque.series {
	background-color: #1197ff;
}
#homeView .lista-videos.series .editoria-item-icon {
	background-color: #1197ff!important;
}
#homeView .series .legenda-texto h3 a,
#homeView .series .realitie-item h3,
#homeView .editorias.series .editoria-texto h3 a:hover,
#homeView .editorias.series .editoria-data p {
	color: #1197ff;
}
#homeView #menu-bar ul li.teen {
	border-top: 3px solid #00a743;
}
#homeView #menu-bar ul li.teen:hover > a,
/*#menu-bar ul li.teen.hover > a,*/
#homeView #menu-bar ul li.teen ul,
#homeView .teen.top-1:before, 
#homeView .teen.top-2:before, 
#homeView .teen.top-3:before, 
#homeView .teen.top-4:before, 
#homeView .teen.top-5:before,
#homeView .carrossel ul li.teen:hover,
#homeView .teen .paginacao a.hover,
#homeView .teen .paginacao a:hover,
#homeView .editorias.teen .editoria-item-icon,
#homeView .editorias.teen .destaque-data,
#homeView .lista-videos.teen .mais-videos,
#homeView .box-noticias-destaque.teen {
	background-color: #00a743;
}
#homeView .lista-videos.teen .editoria-item-icon {
	background-color: #00a743!important;
}
#homeView .teen .legenda-texto h3 a,
#homeView .teen .realitie-item h3,
#homeView .editorias.teen .editoria-texto h3 a:hover,
#homeView .editorias.teen .editoria-data p {
	color: #00a743;
}
#homeView #menu-bar ul li.videos {
	border-top: 3px solid #ffbf00;
}
#homeView #menu-bar ul li.videos:hover > a,
#homeView /*#menu-bar ul li.videos.hover > a,*/
#homeView #menu-bar ul li.videos ul,
#homeView .videos.top-1:before, 
#homeView .videos.top-2:before, 
#homeView .videos.top-3:before, 
#homeView .videos.top-4:before, 
#homeView .videos.top-5:before,
#homeView .carrossel ul li.videos:hover,
#homeView .videos .paginacao a.hover,
#homeView .videos .paginacao a:hover,
#homeView .editorias.videos .editoria-item-icon,
#homeView .editorias.videos .destaque-data,
#homeView .lista-videos.videos .mais-videos,
#homeView .box-noticias-destaque.videos {
	background-color: #ffbf00;
}
#homeView .lista-videos.videos .editoria-item-icon {
	background-color: #ffbf00!important;
}
#homeView .videos .legenda-texto h3 a,
#homeView .editorias.videos .editoria-texto h3 a:hover,
#homeView .editorias.videos .editoria-data p {
	color: #ffbf00;
}
#homeView #menu-bar ul li.especiais {
	border-top: 3px solid #00d0bb;
}
#homeView #menu-bar ul li.especiais:hover > a,
/*#menu-bar ul li.especiais.hover > a,*/
#homeView #menu-bar ul li.especiais ul,
#homeView .especiais.top-1:before, 
#homeView .especiais.top-2:before, 
#homeView .especiais.top-3:before, 
#homeView .especiais.top-4:before, 
#homeView .especiais.top-5:before,
#homeView .carrossel ul li.especiais:hover,
#homeView .especiais .paginacao a.hover,
#homeView .especiais .paginacao a:hover,
#homeView .editorias.especiais .editoria-item-icon,
#homeView .editorias.especiais .destaque-data,
#homeView .lista-videos.especiais .mais-videos,
#homeView .box-noticias-destaque.especiais {
	background-color: #00d0bb;
}
#homeView .lista-videos.especiais .editoria-item-icon {
	background-color: #00d0bb!important;
}
#homeView .especiais .legenda-texto h3 a,
#homeView .especiais .realitie-item h3,
#homeView .editorias.especiais .editoria-texto h3 a:hover,
#homeView .editorias.especiais .editoria-data p {
	color: #00d0bb;
}
#homeView #menu-bar ul li.celebridades ul li a,
#homeView #menu-bar ul li.estilo ul li a,
#homeView #menu-bar ul li.realities ul li a,
#homeView #menu-bar ul li.series ul li a,
#homeView #menu-bar ul li.teen ul li a,
#homeView #menu-bar ul li.videos ul li a,
#homeView #menu-bar ul li.especiais ul li a {
	color: #FFF;
}
#homeView .celebridades.destaque-1:before,
#homeView .celebridades.destaque-2:before,
#homeView .celebridades.destaque-3:before,
#homeView .celebridades.destaque-4:before,
#homeView .celebridades.destaque-5:before,
#homeView #menu-bar .celebridades ul:before,
#homeView .carrossel li.celebridades:before {
	content: "";
	background: url(/images/templates/home/images/sprite.png) 7px -33px no-repeat #ff004e;
}
#homeView .estilo.destaque-1:before,
#homeView .estilo.destaque-2:before,
#homeView .estilo.destaque-3:before,
#homeView .estilo.destaque-4:before,
#homeView .estilo.destaque-5:before,
#homeView #menu-bar .estilo ul:before,
#homeView .carrossel li.estilo:before {
	content: "";
	background: url(/images/templates/home/images/sprite.png) -76px -36px no-repeat #a30dfc;
}
#homeView .realities.destaque-1:before,
#homeView .realities.destaque-2:before,
#homeView .realities.destaque-3:before,
#homeView .realities.destaque-4:before,
#homeView .realities.destaque-5:before,
#homeView #menu-bar .realities ul:before,
#homeView .carrossel li.realities:before {
	content: "";
	background: url(/images/templates/home/images/sprite.png) 8px -67px no-repeat #ff7011;
}
#homeView .series.destaque-1:before,
#homeView .series.destaque-2:before,
#homeView .series.destaque-3:before,
#homeView .series.destaque-4:before,
#homeView .series.destaque-5:before,
#homeView #menu-bar .series ul:before,
#homeView .carrossel li.series:before {
	content: "";
	background: url(/images/templates/home/images/sprite.png) -35px -34px no-repeat #1197ff;
}
#homeView .teen.destaque-1:before,
#homeView .teen.destaque-2:before,
#homeView .teen.destaque-3:before,
#homeView .teen.destaque-4:before,
#homeView .teen.destaque-5:before,
#homeView #menu-bar .teen ul:before,
#homeView .carrossel li.teen:before {
	content: "";
	background: url(/images/templates/home/images/sprite.png) -35px -70px no-repeat #00a743;
}
#homeView #menu-bar .videos ul:before {
	content: "";
	background: url(/images/templates/home/images/sprite.png) -75px -70px no-repeat #ffbf00;
}
/* Cores Editorias */



#homeView .destaques:after,
#homeView .famosos:after,
#homeView .participe-top:after,
#homeView .moda-beleza-destaques:after,
#homeView .vote-fotos:after,
#homeView .publicidade-full:after,
#homeView .destaques-carrossel:after,
#homeView .zoom:after,
#homeView .newsletter-votacao:after,
#homeView .noticias-relacionadas:after,
#homeView .comentario-facebook:after,
#homeView .aside:after,
#homeView .conteudo-titulo:after,
#homeView .lista-alfabetica:after,
#homeView .lista-artistas:after,
#homeView .lista-artistas ul:after,
#homeView .ranking-rotativo ul:after,
#homeView .lista-realities li:after,
#homeView .compartilhar-realities:after,
#homeView .conteudo-tags:after,
#homeView .footer-bg:after,
#homeView .copyright-container:after,
#homeView .footer-logo-menu:after,
#homeView .footer-conteudo:after,
#homeView footer:after,
#homeView .listagem-noticias li:after,
#homeView .editorias-conteudo:after,
#homeView .editorias-lista:after,
#homeView .noticia-title:after  {
	content: "";
	display: block;
	clear: both;
}

/***************** GERAL *****************/


/***************** HEADER *****************/
#homeView header {
	margin-bottom: 55px;
	width: 100%;
	position: static;
	background: #FFF;
	top: 0;
	z-index: 299;
}
#homeView .logo {
	width: 335px;
	heigth: 100px;	
	float: left;
	position: relative;
	bottom: -32px;
	
}
#homeView .social-search {
	width: 721px;
	margin-top: 30px;
	float: right;
}
#homeView .social {
	width: 200px;
	float: left;
}
#homeView .social a {
	width: 39px;
	height: 39px;
	border: 1px solid #d2d2d2;
	color: #969595;
	display: block;
	float: left;	
	margin-left: 4px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
}
#homeView .social a:hover {
	color: #be1c46;
	border: 1px solid #d15f7c;
}
#homeView .social a i {
	font-size: 19px;
	margin: 12px;
}
#homeView .busca {	
	width: 521px;
	float: right;
	background: rgb(201,35,78); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(201,35,78,1) 0%, rgba(151,11,47,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(201,35,78,1)), color-stop(100%,rgba(151,11,47,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(201,35,78,1) 0%,rgba(151,11,47,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(201,35,78,1) 0%,rgba(151,11,47,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(201,35,78,1) 0%,rgba(151,11,47,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(201,35,78,1) 0%,rgba(151,11,47,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9234e', endColorstr='#970b2f',GradientType=0 ); /* IE6-9 */
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#homeView .input-busca {
	width: 335px;
	height: 35px;
	padding: 3px 15px;
	border: 1px solid #dddddd;
	border-right: 0;
	
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-style: italic;
	font-weight: 100;
	color: #cfcfcf;
	
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	float: left;
	
}
#homeView .btn-busca-lupa {
	width: 135px;
	height: 43px;
	float: right;
	position: relative;
}
#homeView .btn-busca-lupa:before {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 43px 20px 0 0;
	border-color: #FFF transparent transparent transparent;
	position: absolute;
	left: -20px;
	top: 0;
}
#homeView .btn-busca-lupa:after {
	content: "";
	width: 20px;
	height: 0px;
	border-top: 1px solid #dddddd;
	position: absolute;
	left: -20px;
	top: 0px;
}
#homeView .btn-busca-lupa i {
	position: absolute;
	color: #FFF;
	top: 13px;
	left: 10px;
}
#homeView .btn-busca {
	width: 135px;
	height: 43px;
	color: #FFF;
	font-size: 16px;
	font-family: 'Rajdhani', sans-serif;
	font-weight: 700;
	
	border: 0;
	background: url(/images/templates/home/images/sprite.png) -114px 12px no-repeat;
	
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	
	padding-right: 31px;
	text-align: right;
}
#homeView #menu-bar {
	width: 100%;
	height: 47px;
	background: #f1f1f1;
	font-family: 'Rajdhani', sans-serif;
	clear: both;
}
#homeView #menu-bar .center {
	position: relative;
}
#homeView #menu-bar ul {
	width: 720px;
	float: right;
}
#homeView #menu-bar ul li {
	float: left;
}
#homeView #menu-bar ul li a {
	padding: 13px 24px 10px 23px;
	display: block;
	text-transform: uppercase;
	font-size: 16px;	
}
/*#menu-bar ul li.hover a,*/
#homeView #menu-bar ul li:hover a {
	color: #FFF;
}
#homeView #menu-bar ul li ul {
	width: 100%;
	position: absolute;
	left: 0px;
	top: 46px;
	display: none;
	z-index: 999;
}
/*#menu-bar ul li.hover ul,*/
#homeView #menu-bar ul li:hover ul {
	display: block;				
}
#homeView #menu-bar ul li ul:before {
	width: 40px;
	height: 35px;
	position: absolute;
	top: 5px;
	left: 2px;
}
#homeView #menu-bar ul li ul li:hover  {
	background: rgba(0,0,0, 0.1);
}
#homeView #menu-bar ul li ul li a  {
	padding: 13px 0px 10px 23px;
	text-transform: none!important;
}
#homeView #menu-bar ul li ul li a span {
	padding-right: 20px;
	border-right: 1px solid rgba(255,255,255, 0.2)	;
}
#homeView .align-menu {
	float: left;
	margin-left: 210px;
	
}
#homeView .menu-social	{
	width: 190px;
	margin-top: 9px;
	float: right;	
}
#homeView .menu-social	a {
	width: 83px;
	height: 24px;
	line-height: 24px;
	
	float: left;
	padding: 0px!important;
	
	font-family: 'Roboto', sans-serif;
	font-size: 11px!important;
	font-weight: 300;
	color: #FFF;
	border-radius: 1px;
	
	text-align: center;
	vertical-align: middle;
	margin-left: 4px;
}
#homeView .menu-social	a i {
	margin-right: 5px;
}
#homeView .menu-social	a.fb {
	border: 1px solid #345ddf;
	background: #0082d1;
}
#homeView .menu-social	a.fb:hover {
	background: #0082d1!important;
}
#homeView .menu-social	a.tw {
	border: 1px solid #1ea6ff;
	background: #00c9ff;
}
#homeView .menu-social	a.tw:hover {
	background: #00c9ff!important;
}

/***************** HEADER *****************/


/***************** CONTENT *****************/
#homeView .publicidade-newsletter {
	height: 110px;
	clear: both;
}
#homeView .publicidade-newsletter .publicidade728x90{
	float: left;	
}
#homeView .newsletter {
	width: 305px;
	height: 110px;
	background:#5b5b5b;
	float: right;
}
#homeView .newsletter h3 {
	margin: 12px 15px;
	font-family: 'Rajdhani', sans-serif;
	font-size: 26px;
	color: #FFF;
}
#homeView .form-newsletter {
	width: 275px;
	background: #FFF;
	margin: 0 auto;	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#homeView .form-newsletter input[type="email"]{
	width: 170px;
	height: 32px;
	border: 0;
	margin: 0;
	padding: 0 13px;
	
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-style: italic;
	font-weight: 300;
	
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;

}
#homeView .form-newsletter input[type="submit"]{
	width: 75px;
	height: 32px;
	border: 0;
	margin: 0;
	padding: 0;
	background: #970b2f;
	float: right;
	
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #FFF;
	
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

/*****/

#homeView .box-noticias-destaque {
	width: 126px;
	height: 94px;
	position: relative;
	padding: 10px 18px;
	color: #FFF;
	float: left;
	margin-right: 9px;
}
#homeView .box-noticias-destaque:after {
	content: "";
	width: 0;
	height: 0;
	right: 0;
	top: 0;
	position: absolute;
	border-style: solid;
	border-width: 0 30px 30px 0;
	border-color: transparent #F3F3F3  transparent transparent;
}
#homeView .box-noticias-destaque h3 {
	font-family: 'Rajdhani', sans-serif;
	font-weight: 600;
	font-size: 33px;
	margin: 42px 0px 0px 0px;
	padding: 0;
	line-height: 24px;
}
#homeView .box-noticias-destaque span {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 18px;
	padding-left: 2px;
}
#homeView .noticias-destaque {
	clear: both;
	height: 114px;
	margin: 20px 0px;
}
#homeView .noticias-destaque ul {
	display: inline-block;
}
#homeView .noticias-destaque ul li {
	width: 162px;
	height: 114px;
	position: relative;
	float: left;
	overflow: visible;
	margin-left: 15px;
}

#homeView .hover-noticia-destaque {
	width: 162px;
	height: 114px;
	
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	background: rgba(0, 0, 0, 0.65);
	
	/*transição dos elementos*/
	-webkit-transition: all .2s ease-out; 
   	-moz-transition: all .2s ease-out; 
   	-o-transition: all .2s ease-out; 
   	transition: all .2s ease-out;
}
#homeView .noticias-destaque ul li:hover .hover-noticia-destaque {
	display: block;
}
#homeView .noticias-destaque ul li a {
	width: 162px;
	height: 114px;
	position: absolute;
	bottom: 10px;
	
	/*transição dos elementos*/
	-webkit-transition: all .2s ease-out; 
   	-moz-transition: all .2s ease-out; 
   	-o-transition: all .2s ease-out; 
   	transition: all .2s ease-out;
}
#homeView .noticias-destaque ul li a span {
	width: 142px;
	display: block;
	position: absolute;
	left: 10px;
	
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: #FFF;
	text-decoration: none;
	text-align: center;
	bottom: 10px;
}
#homeView .noticias-destaque ul li a span .ta-scroll-window > .ta-bind, 
#homeView .noticias-destaque ul li a span .ta-editor.ta-html, 
#homeView .noticias-destaque ul li a span .ta-scroll-window.form-control {
  min-height: 10px;
/*  max-height: 50px;*/
}

#homeView .ta-scroll-window > .ta-bind { 
  padding: 0;
}

#homeView .inlineEditor div p {
  margin-bottom: 0;
}

/*****/
#homeView .destaques-left {
	width: 600px;
	float: left;
}
#homeView .destaque-1 {
	width: 600px;
	height: 360px;
	position: relative;
	float: left;
	margin-bottom: 4px;
}
#homeView .destaque-2 {
	width: 296px;
	height: 180px;
	position: relative;
	float: left;
}
#homeView .destaque-3 {
	width: 296px;
	height: 180px;
	position: relative;
	float: left;
	margin-left: 8px;
}

#homeView .destaques-right {
	width: 450px;
	float: right;
}
#homeView .destaque-4 {
	width: 450px;
	height: 270px;
	position: relative;
	float: right;
	margin-bottom: 4px;
}
#homeView .destaque-5 {
	width: 450px;
	height: 270px;
	position: relative;
	float: right;
}
#homeView .destaque-1:before,
#homeView .destaque-2:before,
#homeView .destaque-3:before,
#homeView .destaque-4:before,
#homeView .destaque-5:before {
	content: "";
	width: 40px;
	height: 35px;
	position: absolute;
	top: 28px;
	left: 0;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}


#homeView .legenda {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 47%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(47%,rgba(255,255,255,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 47%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 47%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 47%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 47%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
#homeView .legenda-texto {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 18px;
	
	position: absolute;
	left: 20px;
	right: 70px;
	bottom: 15px;
} 
#homeView .destaques-famosos .legenda-texto {
	left: 15px;
	right: 15px;
}
#homeView .legenda-texto h3 {
	margin-bottom:  5px;
	font-weight: 400;
} 
#homeView .legenda-texto a {
	color: #FFF;	
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
} 
#homeView .compartilhar-destaque {
	width: 32px;	
	height: 32px;	
	position: absolute;
	right: 15px;
	bottom: 15px;
}
#homeView .destaque-1:hover .icon-compartilhar,
#homeView .destaque-2:hover .icon-compartilhar,
#homeView .destaque-3:hover .icon-compartilhar,
#homeView .destaque-4:hover .icon-compartilhar,
#homeView .destaque-5:hover .icon-compartilhar {
	display: block;
}
#homeView .icon-compartilhar {
	width: 32px;
	height: 32px;	
	display: none;
	border: 1px solid #FFF;
	
	position: absolute;
		
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	margin: 0;
	padding: 0px;
	right: -2px;
	bottom: 0px;
	background: url(/images/templates/home/images/sprite.png) -79px 5px no-repeat;
	box-shadow: 0px 1px 0px #ccc;
}
#homeView .compartilhar-destaque ul {
	display: none;
	bottom: 34px;
	position: absolute;
}
#homeView .compartilhar-destaque:hover ul {
	display: block;
}
#homeView .compartilhar-destaque ul li {
	margin-bottom: 2px;
}
#homeView .compartilhar-destaque ul li a {
	width: 32px;
	height: 32px;
	display: block;
	border: 1px solid #FFF;
	font-size: 22px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	color: #FFF;
	
	box-shadow: 0px 1px 0px #ccc;
}
#homeView .compartilhar-destaque ul li a i {
	margin: 6px 7px 4px 7px;
}


/*****/
#homeView .app-estrelando {
	width: 1056px;
	display: inline-block;
	border-bottom: 1px dotted #dddddd;
	margin: 25px 0px 50px 0px;
	padding-bottom: 10px;
}
#homeView .baixar-app {
	color: #333333;
	float: left;
}
#homeView .baixar-app-chamada {
	float: left;
	margin: 5px 30px 0 0;
}
#homeView .baixar-app-chamada h3 {
	font-family: 'Rajdhani', sans-serif;
	font-weight: 700;	
	font-size: 26px;
	color: #333333;
	margin: 0px;
	padding: 0px;
	line-height: 22px;
}
#homeView .baixar-app-chamada span {	
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 15px;
	color: #666666;
}
#homeView .app-downloads {
	float: right;
}
#homeView .baixar-google-play {
	width: 207px;
	height: 60px;
	float: left;
	background: url(/images/templates/home/images/sprite.png) -2px -119px no-repeat;
}
#homeView .baixar-apple-store {
	width: 207px;
	height: 60px;
	margin-left: 15px;
	float: right;
	background: url(/images/templates/home/images/sprite.png) -2px -186px no-repeat;
}
#homeView .app-estrelando .publicidade468x60 {
	float: right;
}

/*****/
#homeView .destaques-famosos {
	float: left;
}
#homeView .destaques-famosos {
	width: 700px;
	float: left;
}
#homeView .destaques-famosos-left {
	width: 465px;
	float: left;
}
#homeView .destaques-famosos-right {
	float: right;
}
#homeView .destaques-famosos-1 {
	width: 230px;
	height: 450px;
	position: relative;
	float: left;
	background: red;
}
#homeView .destaques-famosos-2 {
	width: 230px;
	height: 220px;
	position: relative;
	background: pink;
	float: right;
}
#homeView .destaques-famosos-3 {
	width: 230px;
	height: 220px;
	position: relative;
	margin-top: 10px;
	background: blue;
	float: right;
}
#homeView .destaques-famosos-4 {
	width: 465px;
	height: 220px;
	position: relative;
	margin-top: 10px;
	background: green;
	float: left;
}
#homeView .destaques-famosos-5 {
	width: 230px;
	height: 450px;
	position: relative;
	background: purple;
}
#homeView .destaques-famosos-6 {
	width: 230px;
	height: 220px;
	position: relative;
	margin-top: 10px;
	background: yellow;
}

#homeView .compartilhar-famosos {
	width: 190px;
	position: absolute;
	top: 16px;
	left: 16px;
	display: none;
}
#homeView .compartilhar-famosos ul li {
	float: left;
}

#homeView .compartilhar-famosos ul li a {
	width: 32px;
	height: 32px;
	display: block;
	border: 1px solid #FFF;
	font-size: 22px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	color: #FFF;
	margin-left: 2px;
	box-shadow: 0px 1px 0px #ccc;
}
#homeView .compartilhar-famosos ul li a i {
	margin: 6px 7px 4px 7px;
}
#homeView .destaques-famosos-1 .compartilhar-famosos,
#homeView .destaques-famosos-2 .compartilhar-famosos,
#homeView .destaques-famosos-3 .compartilhar-famosos,
#homeView .destaques-famosos-4 .compartilhar-famosos,
#homeView .destaques-famosos-5 .compartilhar-famosos,
#homeView .destaques-famosos-6 .compartilhar-famosos {
	display: block;
}

#homeView .noticias-famosos {
	width: 334px;
	float: right;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
#homeView .noticias-header {
	width: 334px;
	height: 55px;
	border-top: 1px solid #f1f1f1;	
	margin-bottom: 20px;
}
#homeView .noticias-header a {
	width: 167px;
	height: 55px;
	line-height: 55px;
	
	display: block;
	float: left;
	
	color: #666666;
	text-align: center;
	vertical-align: middle;
	
}
#homeView .noticias-header a:hover {
	color: #ff004e;
}
#homeView .noticias-header a.active {
	color: #ff004e;
	background: #f1f1f1;	
}
#homeView .noticias-middle li {
	height: 100px;
	display: inline-block;
	margin: 0px 0px 12px 0px;
	padding-bottom: 12px;
	border-bottom: 1px solid #eaeaec;
}
#homeView .noticias-middle li:hover div {
	background: #ff004e;
}
#homeView .noticias-middle li:hover div a {
	color: #FFFFFF;
}
#homeView .noticias-middle li:last-child {
	border: none;
}
#homeView .noticias-middle img {
	border-right: 1px solid #ff004e;
	margin-right: 15px;
	float: left;
	
}
#homeView .noticias-middle div {
	height: 90px;
	padding: 5px 0px;
	font-size: 15px;
}
#homeView .noticias-footer {
	background: #f1f1f1;	
	height: 57px;
}
#homeView .noticias-footer a {
	width: 150px;
	height: 45px;
	line-height: 45px;
	
	display: block;
	float: right;
	
	background: #ff004e;
	margin: 5px;
	
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
}


/**********/

#homeView .participe-top {
	margin-top: 60px;
}
#homeView .participe {
	width: 700px;
	float: left;
}
#homeView .enquete  {
	width: 335px;
	height: 640px;
	border: 1px solid #e4e4e4;
	float: left;
}
#homeView .formulario-enquete {
	width: 280px;	
	margin: 0 auto;
}
#homeView .formulario-enquete h3 {
	font-family: 'Rajdhani', sans-serif;
	font-weight: 700;
	font-size: 18px;
	color: #ff004e;
	text-transform: uppercase;	
}
#homeView .formulario-enquete h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	font-size: 22px;
	color: #727272;	
}
#homeView .formulario-enquete form {	
	margin-top: 25px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #727272;
}
#homeView .input-text:after {
	content: "";
	display: block;
	clear: both;
}
#homeView .input-text{
	margin-bottom: 10px;
}
#homeView .input-radio {
	width: 23px;
	text-align: center;
	position: relative;
	float: left;	
}
#homeView .text-radio {
	width: 250px;
	float: right;	
	text-align: left;
}
#homeView .enquete form input[type="radio"]+label[for] { 	
	border: 1px solid #747474;
	width: 12px;
	height: 12px;
	display: block;
	border-radius: 50%;
	position: relative;
	left: 5px;
	top: -17px;
}
#homeView .enquete form input[type="radio"] {
	visibility: hidden;
}
#homeView .enquete form input[type="radio"]:checked+label[for] { 	
	background: #ff004e;
	border: 1px solid #ff004e;
}

#homeView .enquete form input[type="submit"] { 	
	width: 140px;
	height: 50px;
		
	background: #e5e5e5;
	
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #ff004e;
	font-size: 18px;
	
	border: 0;
	float: left;
	cursor: pointer;
}
#homeView a.enquete-btn { 	
	width: 140px;
	height: 50px;
	line-height: 50px;
	
	text-decoration: none;
	vertical-align: middle;	
	text-align: center;
	
	display: block;
	
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: #FFFFFF;
	background: #ff004e;
	float: right;
}

#homeView .quiz-index {
	width: 333px;
	height: 323px;
	position: relative;
	overflow: hidden;
	border: 1px solid #d2d2d2;
	margin-bottom: 27px;
}
#homeView .quiz-index:before {
	content: "";
	width: 0;
	height: 0;
	
	position: absolute;
	display: block;
	bottom: 0;
	left: -5px;
	
	border-style: solid;
	border-width: 0px 0 325px 340px;
	border-color: transparent transparent #e5e5e5 transparent;
}
#homeView .quiz-index:after {
	content: "\f09a";
	
	font-family: 'FontAwesome';
	width: 63px;
	height: 63px;
	line-height: 63px;
	
	position: absolute;
	display: block;
	bottom: 55px;
	left: 62px;
	
	text-align: center;
	font-size: inherit;
	font-size: 32px;
	  
	background: #ff004e;
	color: #FFF;
	border-radius: 50%;
	vertical-align: middle;
}
#homeView .triangle {
	width: 165px;
	
	position: absolute;
	top: 165px;
	right: 25px;
	
	text-align: right;
}
#homeView .triangle h3 {
	font-family: 'Rajdhani', sans-serif;
	font-weight: 700;
	font-size: 30px;
	color: #ff004e;
	text-transform: uppercase;	
	margin: 0px 0px 10px 0px;
}
#homeView .triangle p {
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	font-size: 20px;
	color: #666666;
	margin: 0px;
}
#homeView .quiz-publicidade {
	width: 335px;
	float: right;
}
#homeView .quiz-publicidade .publicidade {
	display: -webkit-box;
}
#homeView .quiz-publicidade .publicidade300x250{
	margin: 20px auto;
}
#homeView .top-famosos{
	width: 335px;
	float: right;
}
#homeView .top-famosos .legenda-texto {
	left: initial!important;
	right: 15px!important;
	bottom: 15px!important;
}
#homeView .top-1{
	position: relative;
	margin-bottom: 15px;	
}
#homeView .top-2{
	position: relative;
	margin-bottom: 15px;	
}
#homeView .top-3{
	position: relative;
	margin-bottom: 15px;	
}
#homeView .top-4{
	position: relative;
}
#homeView .top-5{
	position: relative;
}

#homeView .top-1:before { content: "01"; }
#homeView .top-2:before { content: "02"; }
#homeView .top-3:before { content: "03"; }
#homeView .top-4:before { content: "04"; }
#homeView .top-5:before { content: "05"; }
#homeView .top-1:before, 
#homeView .top-2:before, 
#homeView .top-3:before, 
#homeView .top-4:before, 
#homeView .top-5:before {
	width: 31px;
	height: 31px;
	line-height: 31px;
	
	position: absolute;
	top: -9px;
	right: 12px;
	
	text-align: center;
	vertical-align: middle;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #FFF;
	font-size: 16px;
}


/****/
#homeView .moda-beleza-destaques {
	margin-top: 40px;
}
#homeView .moda-destaques {
	float: right;
}
#homeView .moda-1{
	margin-bottom: 16px;
}
#homeView .moda-1, 
#homeView .moda-2 {
	position: relative;
}

#homeView .moda-destaques .legenda-texto {	
	right: 20px!important;
}

/*****/
#homeView .vote-fotos {
	margin-top: 45px;
}
#homeView .vote {
	width: 470px;
	float: left;
}
#homeView .opcao-1,
#homeView .opcao-2 {
	position: relative;
}
#homeView .opcao-descricao {
	width: 206px;
	height: 38px;
	line-height: 38px;
	
	border: 1px solid #FFF;
	border-radius: 5px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
	
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	text-align: center;
	vertical-align: middle;
	
	position: absolute;	
	bottom: 15px;
	left: 10px;
}
#homeView .opcao-descricao a {
	color: #FFFFFF;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}
#homeView .opcao-1:hover a,
#homeView .opcao-2:hover a {
	color: #ff004e;
}
#homeView .opcao-1:hover .opcao-descricao,
#homeView .opcao-2:hover .opcao-descricao {
	border: 1px solid #ff004e;
}
#homeView .fotos {
	width: 540px;
	float: right;
	position: relative;
}
#homeView .fotos .controls {
	top: 29px;
	right: 30px;
}
#homeView .fotos .legenda-texto {
	right: 20px;
}
#homeView .rotativo-fotos ul li {
	position: relative;
}
#homeView .rotativo-fotos ul li:hover .compartilhar-famosos {
	display: block;
}
#homeView .controls {
	width: 89px;
	height: 45px;
	position: absolute;
}
#homeView .controls a {
	width: 44px;
	height: 45px;
	line-height: 45px;
	
	text-align: center;
	vertical-align: middle;
	color: #FFF;
	
	display: block;
}
#homeView .controls a.prev,
#homeView .controls a.next {
	background: #ff004e;
}
#homeView .controls a.prev:hover,
#homeView .controls a.next:hover {
	background: #d80042;
}
#homeView .publicidade-full {
	margin-top: 60px;
}
#homeView .publicidade-full.publicidade {
	padding: 24px 0px;
}
#homeView .destaques-carrossel {
	margin-top: 40px;
}
#homeView .carrossel  {
	position: relative;
}
#homeView .carrossel  .controls {
	top: -50px;
	right: 30px;
}
#homeView .carrossel ul li {
	width: 194px;
	padding: 5px;
	float: left;
	position: relative;
	margin-left: 9px;
}
#homeView .carrossel ul li:first-child {
	margin-left: 0px;
}
#homeView .carrossel ul li:before {
	width: 40px;
	height: 35px;
	position: absolute;
	top: 17px;
	left: 4px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
#homeView .carrossel ul li a {
	font-family: 'Roboto', sans-serif;
	color: #666666;
}
#homeView .carrossel ul li:hover a {
	color: #FFFFFF;
	border-color: #FFFFFF;
}


#homeView .compartilhar-carrossel nav {
	width: 190px;
	height: 28px;
	margin-left: 40px;
	margin-bottom: 15px;
}
#homeView .compartilhar-carrossel nav a {
	width: 28px;
	height: 28px;
	
	float: left;
	display: block;
	border: 1px solid #aeaeae ;
	font-size: 18px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	color: #aeaeae;
	margin-left: 2px;
}
#homeView .compartilhar-carrossel nav a i {
	margin: 6px 7px 4px 7px;
}




/***************** FOOTER *****************/
#homeView footer {
	margin-top: 90px;
	background: #bfbfbf;
}
#homeView .footer-destaque {
	height: 150px;
	border-bottom: 1px solid #cfcfcf;
}
#homeView .footer-destaque-descricao {
	width: 280px;
	height: 130px;
	margin-top: 20px;
	float: right;
	position: relative;
}
#homeView .footer-destaque-descricao h3 {
	font-family: 'Rajdhani', sans-serif;
	font-size: 40px;
	font-weight: 400;
	margin: 0px;
}
#homeView .footer-destaque-descricao p {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 300;
}
#homeView .footer-destaque-descricao:after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	display: block;
	bottom: 0;
	right: -100px;
	border-style: solid;
	border-width: 0px 100px 150px 0px;
	border-color: transparent transparent #BFBFBF transparent;
}
#homeView .bg-descricao {
	width: 37%;	
	height: 150px;
}
#homeView .rotativo-footer-destaque {
	width: 695px;
	margin-left: 130px;
	float: left;
	position: relative;
}
#homeView .rotativo-footer-destaque .controls {	
	width: 680px;
	top: 55px;
	left: -30px;
	position: absolute;
}
#homeView .rotativo-footer-destaque a.prev:hover,
#homeView .rotativo-footer-destaque a.next:hover {
	background: #666666;
}
#homeView .rotativo-footer-destaque ul {	
	width: 620px;
	margin-top: 30px;
}
#homeView .bg-rotativo {
	width: 63%;
	height: 150px;
	background: #f0f0f0;
}
#homeView .footer-redes {
	height: 140px;
	border-bottom: 1px solid #cfcfcf;
}
#homeView .footer-redes-descricao {
	width: 280px;
	float: left;
	margin-top: 25px;
}
#homeView .footer-redes-descricao h2 {
	font-family: 'Rajdhani', sans-serif;
	font-size: 40px;
	font-weight: 600;
	margin: 0px;
}
#homeView .footer-redes-descricao h3 {
	font-family: 'Rajdhani', sans-serif;
	font-size: 36px;
	font-weight: 300;
	margin: 0px;
	
}
#homeView .footer-redes-lista {
	width: 776px;
	height: 50px;
	float: right;
	margin-top: 50px;
	text-align: right;
}
#homeView .footer-redes-lista a.fb:hover {
	color: #0082d1;
}
#homeView .footer-redes-lista a.tw:hover {
	color: #00c9ff;
}
#homeView .footer-redes-lista a {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 40px;
	position: relative;
	margin-left: 100px;
	color: #666666;
}
#homeView .footer-redes-lista a i {
	margin-right: 10px;
}
#homeView .footer-redes-lista a:before {
	content: "";
	width: 1px;
	height: 100px;
	background: #666666;
	position: absolute;
	display: block;
	top: -25px;
	left: -50px;
	transform-origin: 50% 50%;
	transform: rotate(-22.5deg);
}
#homeView .footer-aplicativo {
	width: 207px;
	float: left;
	margin-top: 45px;
}

#homeView .footer-aplicativo h2 {
	font-family: 'Rajdhani', sans-serif;
	font-size: 30px;
	font-weight: 600;
	margin: 0px;
}
#homeView .footer-aplicativo h3 {
	font-family: 'Rajdhani', sans-serif;
	font-size: 28px;
	font-weight: 300;
	margin: 0px 0px 40px 0px;
	
}
#homeView .footer-baixar-app a {
	margin-bottom: 11px;
}
#homeView .footer-links {
	width: 770px;
	float: right;
	margin: 30px 0px 140px 0px;
}
#homeView .footer-links div {
	float: left;
}
#homeView .footer-links h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	font-size: 18px;
	color: #707070;
	transform: uppercase;
}
#homeView .footer-links ul li {
	margin-bottom: 10px;
}
#homeView .footer-links ul li a {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #7b7b7b;
}
#homeView .footer-links ul li a:hover {
	color: #e35480;
}
#homeView .footer-links-especiais,
#homeView .footer-links-destaques {
	width: 150px;
	margin-left: 100px;
}
#homeView .footer-links-especiais {
	width: 300px;
}
#homeView .footer-links-especiais ul {
	-moz-column-count: 2;
	-moz-column-gap: 60px;
	-webkit-column-count: 2;
	-webkit-column-gap: 60px;
	column-count: 2;
	column-gap: 60px;
}

#homeView .footer {
	width: 100%;
	height: 104px;
	background: #FFF;
	position: relative;
}
#homeView .footer-logo {
	position: absolute;
	top: -72px;
}
#homeView .footer-logo img {
	-webkit-filter: grayscale(100%); 
	filter: grayscale(100%);
}
#homeView .footer-logo-menu {
	height: 58px;
	border-bottom: 1px dotted #dbdbdb;
}
#homeView .footer-menu {
	width: 730px;
	float: right;
}
#homeView .footer-menu nav  {
	margin-top: 22px;
	float: right;
}
#homeView .footer-menu nav  a {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #000000;
	
	margin-left: 25px;
	float: left;
	display: block;
	position: relative;
}
#homeView .footer-menu nav  a:hover {
	color: #f96894;	
}
#homeView .footer-menu nav  a:before {
	content: "\f006";
	width: 13px;
	height: 20px;
	display: block;
	
	font-family: 'FontAwesome';
	
	position: relative;
	margin-right: 3px;
	float: left;
}
#homeView .copyright {
	width: 320px;
	float: left;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;	
	margin-top: 18px;
}
#homeView .container {
	width: 205px;
	float: right;
	
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;	
	margin-top: 15px;
}
#homeView .container img {
	vertical-align: middle;
}
#homeView .footer-bg {
	width: 100%;
	height: 15px;
	background: #bfbfbf;
}
/***************** FOOTER *****************/

#homeView .box-noticias-destaque,
#homeView .input-busca { box-sizing: content-box; }


#homeView .top-destaques > div { height: 280px; }
#homeView .top-destaques > div + div { height: 163px; width: 163px; float: left;   margin-right: 9px;}
#homeView .top-destaques > div.top-3, #homeView .top-destaques > div.top-5 { margin-right: 0px}

#homeView .moda-destaques > div { height: 220px; width: 100%; }

.hasPostTools { position: relative; }