<div class="homeEditPubTool panel panel-default" ng-class="{'open': isEdtOpen}">
	<div class="panel-heading" ng-click="openCloseEdt($event)">
		<h3 class="panel-title fa" ng-class="{'fa-toggle-left': !isEdtOpen, 'fa-toggle-right': isEdtOpen}"><span>Home</span></h3>
	</div>
	<div class="panel-body">
		<div class="input-group">
			<label for="CurrentDateHome">Home: </label>
			<select id="CurrentDateHome" class="form-control" ng-model="currentEditionDate" ng-options="item.startDate as item.startDate for item in currentDates.data"></select>
		</div>
		<div class="input-group">
			<label for="CurrentDateHome">Publicar Em: </label>
			<imaginate-date-picker data="homeConfigs.publishAt"></imaginate-date-picker>
			<timepicker ng-model="homeConfigs.publishAt" hour-step="1" minute-step="15" show-meridian="ismeridian"></timepicker>
		</div>
		<div class="input-group">
			<button class="btn btn-default" translate ng-click="publishHome($event)">PUBLISH</button>
		</div>
	</div>
</div>
<div ng-if="loadedHome">
<header>
	<section id="social-search">
		<div class="center">
			<div class="logo"><a href="#"><img src="/images/templates/home/images/logo.png" /></a></div>
			<div class="social-search">
				<nav class="social">
					<a href="#" class="ig"><i class="fa fa-instagram"></i></a>
					<a href="#" class="fb"><i class="fa fa-facebook-square"></i></a>
					<a href="#" class="tw"><i class="fa fa-twitter"></i></a>
					<a href="#" class="gp"><i class="fa fa-google-plus"></i></a>
				</nav>
				<div class="busca">
					<form action="" method="GET" name="form-busca">
						<input type="text" name="q" class="input-busca" placeholder="Encontre no Estrelando" />
						<div class="btn-busca-lupa"><input type="submit" class="btn-busca" value="BUSCAR" /></div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<section id="menu-bar">
		<div class="center">
			<ul>
				<li class="celebridades hover">
					<a href="#">Celebridades</a>
					<ul>
						<div class="align-menu">
							<li><a href="#"><span>Notícias</span></a></li>
							<li><a href="#"><span>Fotos</span></a></li>
							<li><a href="#"><span>Ranking</span></a></li>
							<li><a href="#"><span>Perfis</span></a></li>
							<li><a href="#"><span>Quiz</span></a></li>
							<li><a href="#"><span>Fóruns</span></a></li>
							<li><a href="#"><span>Enquete</span></a></li>
						</div>
						<div class="menu-social">
							<a href="#" class="fb"><i class="fa fa-facebook-square"></i>FACEBOOK</a>
							<a href="#" class="tw"><i class="fa fa-twitter"></i>TWITTER</a>					
						</div>
					</ul>
				</li>
				<li class="estilo">
					<a href="#">Estilo</a>
					<ul>
						<div class="align-menu">
							<li><a href="#"><span>Notícias</span></a></li>
							<li><a href="#"><span>Fotos</span></a></li>
							<li><a href="#"><span>Ranking</span></a></li>
							<li><a href="#"><span>Perfis</span></a></li>
							<li><a href="#"><span>Quiz</span></a></li>
							<li><a href="#"><span>Fóruns</span></a></li>
							<li><a href="#"><span>Enquete</span></a></li>
						</div>
						<div class="menu-social">
							<a href="#" class="fb"><i class="fa fa-facebook-square"></i>FACEBOOK</a>
							<a href="#" class="tw"><i class="fa fa-twitter"></i>TWITTER</a>					
						</div>
					</ul>
				</li>
				<li class="realities">
					<a href="#">Realities</a>
					<ul>
						<div class="align-menu">
							<li><a href="#"><span>Notícias</span></a></li>
							<li><a href="#"><span>Fotos</span></a></li>
							<li><a href="#"><span>Ranking</span></a></li>
							<li><a href="#"><span>Perfis</span></a></li>
							<li><a href="#"><span>Quiz</span></a></li>
							<li><a href="#"><span>Fóruns</span></a></li>
							<li><a href="#"><span>Enquete</span></a></li>
						</div>
						<div class="menu-social">
							<a href="#" class="fb"><i class="fa fa-facebook-square"></i>FACEBOOK</a>
							<a href="#" class="tw"><i class="fa fa-twitter"></i>TWITTER</a>					
						</div>
					</ul>
				</li>
				<li class="series">
					<a href="#">Séries</a>
					<ul>
						<div class="align-menu">
							<li><a href="#"><span>Notícias</span></a></li>
							<li><a href="#"><span>Fotos</span></a></li>
							<li><a href="#"><span>Ranking</span></a></li>
							<li><a href="#"><span>Perfis</span></a></li>
							<li><a href="#"><span>Quiz</span></a></li>
							<li><a href="#"><span>Fóruns</span></a></li>
							<li><a href="#"><span>Enquete</span></a></li>
						</div>
						<div class="menu-social">
							<a href="#" class="fb"><i class="fa fa-facebook-square"></i>FACEBOOK</a>
							<a href="#" class="tw"><i class="fa fa-twitter"></i>TWITTER</a>					
						</div>
					</ul>
				</li>
				<li class="teen">
					<a href="#">Teen</a>
					<ul>
						<div class="align-menu">
							<li><a href="#"><span>Notícias</span></a></li>
							<li><a href="#"><span>Fotos</span></a></li>
							<li><a href="#"><span>Ranking</span></a></li>
							<li><a href="#"><span>Perfis</span></a></li>
							<li><a href="#"><span>Quiz</span></a></li>
							<li><a href="#"><span>Fóruns</span></a></li>
							<li><a href="#"><span>Enquete</span></a></li>
						</div>
						<div class="menu-social">
							<a href="#" class="fb"><i class="fa fa-facebook-square"></i>FACEBOOK</a>
							<a href="#" class="tw"><i class="fa fa-twitter"></i>TWITTER</a>					
						</div>
					</ul>
				</li>
				<li class="videos">
					<a href="#">Vídeos</a>
					<ul>
						<div class="align-menu">
							<li><a href="#"><span>Notícias</span></a></li>
							<li><a href="#"><span>Fotos</span></a></li>
							<li><a href="#"><span>Ranking</span></a></li>
							<li><a href="#"><span>Perfis</span></a></li>
							<li><a href="#"><span>Quiz</span></a></li>
							<li><a href="#"><span>Fóruns</span></a></li>
							<li><a href="#"><span>Enquete</span></a></li>
						</div>
						<div class="menu-social">
							<a href="#" class="fb"><i class="fa fa-facebook-square"></i>FACEBOOK</a>
							<a href="#" class="tw"><i class="fa fa-twitter"></i>TWITTER</a>					
						</div>
					</ul>
				</li>
				<li class="especiais">
					<a href="#">Especiais</a>
				</li>
			</ul>
		</div>
	</section>
</header>
<section id="content">
	<div class="center">
		
		<div class="publicidade-newsletter">
			<div class="publicidade728x90"></div>
			<div class="newsletter">	
				<h3>Newsletter</h3>
				<div class="form-newsletter">
					<form action="" method="POST" name="form-newsletter">
						<input type="email" name="email" placeholder="Digite seu e-mail" required />
						<input type="submit" value="ENVIAR" />
					</form>
				</div>
			</div>
		</div>
		
		<div class="noticias-destaque">
			<div class="box-noticias-destaque celebridades">
				<h3>NOTÍCIAS</h3>
				<span>EM DESTAQUE</span>
			</div>
			<ul>
				<li ng-repeat="item in home.DTS track by $index | limitTo: 5" class="hasPostTools">
					<ul class="postTools">
						<li><a href="#" ng-click="setLink(item, $event)" class="btnLink fa fa-link"></a></li>
						<li><a href="#" ng-click="setPhoto(item, $event)" class="btnLink fa fa-image"></a></li>
						<li><a href="#" ng-click="setStyle(item, $event)" class="btnLink fa fa-cog"></a></li>
					</ul>
					
					<img ng-if="item.image.thumbnails" ng-src="{{imagePrefix}}{{item.image.thumbnails['162x115']}}" width="162" height="114" />
					<div class="hover-noticia-destaque"></div>
					<a href="" ><span><text-angular ng-class="{'inlineEditor':true}" ng-model="item.title" ta-html-editor-class="inlineEditor" ta-focussed-class="focussed" ta-toolbar="[]"></text-angular></span></a>
				</li>
			</ul>
		</div>
		
		<div class="destaques">
			<div class="destaques-left">
				<!-- Destaque -->
				<div class="{{item.style}} destaque-{{$index+1}} hasPostTools" ng-repeat="item in home.MD | limitTo:3" ng-init="format = ($index == 0)?'600x360':'296x180';">
					<ul class="postTools">
						<li><a href="#" ng-click="setLink(item, $event)" class="btnLink fa fa-link"></a></li>
						<li><a href="#" ng-click="setPhoto(item, $event)" class="btnLink fa fa-image"></a></li>
						<li><a href="#" ng-click="setStyle(item, $event)" class="btnLink fa fa-cog"></a></li>
					</ul>
					<img ng-if="item.image.thumbnails" ng-src="{{imagePrefix}}{{item.image.thumbnails[format]}}" />
					<!-- <img src="/images/templates/home/images/mapa.jpg"  width="600" height="360" /> -->
					<div class="legenda">
						<div class="legenda-texto">
							<h3><a><text-angular class="inlineEditor" ng-model="item.title" ta-html-editor-class="inlineEditor" ta-focussed-class="focussed" ta-toolbar="[]"></text-angular></a></h3>
							<a><text-angular class="inlineEditor" ng-model="item.fullText" ta-html-editor-class="inlineEditor" ta-focussed-class="focussed" ta-toolbar="[]"></text-angular></a>
						</div>
						<div class="compartilhar-destaque">	
							<ul>
								<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>								
							<a href="" class="icon-compartilhar"></a>	
						</div>
					</div>
				</div>
				
				
				<!--  
				<div class="destaque-2 realities">
					<img src="/images/templates/home/images/ipe.jpg"  width="296" height="180" />
					<div class="legenda">
						<div class="legenda-texto">
							<a href="#">A 19ª edição Dancing With the Stars já tem um vencedor! Descubra!</a>
						</div>
						<div class="compartilhar-destaque">	
							<ul>
								<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>								
							<a href="" class="icon-compartilhar"></a>	
						</div>
					</div>
				</div>
				
				<div class="destaque-3 series">
					<img src="/images/templates/home/images/cupcakes.jpg"  width="296" height="180" />
					<div class="legenda">
						<div class="legenda-texto">
							<a href="#">Chris é um garoto negro, morador de Bedford Stuyvesant</a>
						</div>
						<div class="compartilhar-destaque">	
							<ul>
								<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>								
							<a href="" class="icon-compartilhar"></a>	
						</div>
					</div>
				</div>
				/Destaque3 -->
			</div>
			<div class="destaques-right">
				<div class="{{item.style}} destaque-{{$index+1}} hasPostTools" ng-repeat="item in home.MD | limitTo:5" ng-if="$index >= 3">
					<ul class="postTools">
						<li><a href="#" ng-click="setLink(item, $event)" class="btnLink fa fa-link"></a></li>
						<li><a href="#" ng-click="setPhoto(item, $event)" class="btnLink fa fa-image"></a></li>
						<li><a href="#" ng-click="setStyle(item, $event)" class="btnLink fa fa-cog"></a></li>
					</ul>
					<img ng-if="item.image.thumbnails" ng-src="{{imagePrefix}}{{item.image.thumbnails['450x270']}}" />

					<div class="legenda">
						<div class="legenda-texto">
							<a><text-angular class="inlineEditor" ng-model="item.title" ta-html-editor-class="inlineEditor" ta-focussed-class="focussed" ta-toolbar="[]"></text-angular></a>
						</div>
						<div class="compartilhar-destaque">	
							<ul>
								<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>								
							<a href="" class="icon-compartilhar"></a>	
						</div>
					</div>
				</div>
				
				
			</div>				
		</div>
		
		
		<div class="app-estrelando">
			<div class="baixar-app">
				<div class="baixar-app-chamada">
					<h3>BAIXE <br/>NOSSO</h3>
					<span>APLICATIVO</span>
				</div>
				<div class="app-downloads">
					<a href="" class="baixar-google-play"></a>
					<a href="" class="baixar-apple-store"></a>
				</div>
			</div>
			<div class="publicidade468x60"></div>				
		</div>
		
		<div class="famosos">
			<div class="destaques-famosos">
				<h1>
					<text-angular class="inlineEditor" ng-model="home.TI[0]['title']" ta-html-editor-class="inlineEditor" ta-focussed-class="focussed" ta-toolbar="[]"></text-angular>
				</h1>
				
				<div class="destaques-famosos-left">
					<div class="{{item.style}} hasPostTools destaques-famosos-{{$index+1}}" ng-repeat="item in home.DT1 | limitTo:4" ng-init="format = ($index == 0)?'230x450':'230x220'; format = ($index == 4)?'465x220':format">	
						<ul class="postTools">
							<li><a href="#" ng-click="setLink(item, $event)" class="btnLink fa fa-link"></a></li>
							<li><a href="#" ng-click="setPhoto(item, $event)" class="btnLink fa fa-image"></a></li>
							<li><a href="#" ng-click="setStyle(item, $event)" class="btnLink fa fa-cog"></a></li>
						</ul>
						<img ng-if="item.image.thumbnails" ng-src="{{imagePrefix}}{{item.image.thumbnails[format]}}" />
						<div class="legenda">
							<div class="legenda-texto">
								<h3><a><text-angular class="inlineEditor" ng-model="item.title" ta-html-editor-class="inlineEditor" ta-focussed-class="focussed" ta-toolbar="[]"></text-angular></a></h3>
								<a><text-angular class="inlineEditor" ng-model="item.fullText" ta-html-editor-class="inlineEditor" ta-focussed-class="focussed" ta-toolbar="[]"></text-angular></a>
							</div>
							<div class="compartilhar-famosos">	
								<ul>
									<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								</ul>								
							</div>
						</div>
					</div>
					<!--
					<div class="celebridades destaques-famosos-2">			
						<img src="/images/templates/home/images/mapa.jpg"  width="230" height="220" />		
						<div class="legenda">
							<div class="legenda-texto">
								<h3><a href="#">Ops</a></h3>
								<a href="#">Modelo da Victoria’s Secret deixa calcinha à mostra, veja!</a>
							</div>
							<div class="compartilhar-famosos">
								<ul>
									<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								</ul>									
							</div>
						</div>
					</div>
					<div class="celebridades destaques-famosos-3">		
						<img src="/images/templates/home/images/outono.jpg"  width="230" height="220" />		
						<div class="legenda">
							<div class="legenda-texto">
								<h3><a href="#">Polêmica</a></h3>
								<a href="#">Jerry Hall acha patéticas mulheres que fazem cirurgias estéticas, confira!</a>
							</div>
							<div class="compartilhar-famosos">
								<ul>
									<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								</ul>								
							</div>
						</div>									
					</div>
					<div class="teen destaques-famosos-4">			
						<img src="/images/templates/home/images/folha.jpg"  width="465" height="220" />		
						<div class="legenda">
							<div class="legenda-texto">
								<h3><a href="#">Campanha</a></h3>
								<a href="#">Jerry Hall acha patéticas mulheres que fazem cirurgias estéticas, confira!</a>
							</div>
							<div class="compartilhar-famosos">	
								<ul>
									<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								</ul>								
							</div>
						</div>
					</div>-->
				</div>
				<div class="destaques-famosos-right">
					<div class="{{item.style}} hasPostTools destaques-famosos-{{$index+1}}" ng-repeat="item in home.DT1 | limitTo:6" ng-if="$index >= 4" ng-init="format = ($index == 4)?'230x450':'230x220'">	
						<ul class="postTools">
							<li><a href="#" ng-click="setLink(item, $event)" class="btnLink fa fa-link"></a></li>
							<li><a href="#" ng-click="setPhoto(item, $event)" class="btnLink fa fa-image"></a></li>
							<li><a href="#" ng-click="setStyle(item, $event)" class="btnLink fa fa-cog"></a></li>
						</ul>
						<img ng-if="item.image.thumbnails" ng-src="{{imagePrefix}}{{item.image.thumbnails[format]}}" />
						<div class="legenda">
							<div class="legenda-texto">
								<h3><a><text-angular class="inlineEditor" ng-model="item.title" ta-html-editor-class="inlineEditor" ta-focussed-class="focussed" ta-toolbar="[]"></text-angular></a></h3>
								<a><text-angular class="inlineEditor" ng-model="item.fullText" ta-html-editor-class="inlineEditor" ta-focussed-class="focussed" ta-toolbar="[]"></text-angular></a>
							</div>
							<div class="compartilhar-famosos">	
								<ul>
									<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								</ul>								
							</div>
						</div>
					</div>
					<!--
					<div class="celebridades destaques-famosos-6">	
						<img src="/images/templates/home/images/cidade.jpg"  width="230" height="220" />				
						<div class="legenda">
							<div class="legenda-texto">
								<h3><a href="#">É amor</a></h3>
								<a href="#">Jerry Hall acha patéticas mulheres que fazem cirurgias estéticas, confira!</a>
							</div>
							<div class="compartilhar-famosos">
								<ul>
									<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								</ul>	
							</div>
						</div>
					</div>-->
				</div>
			</div>
			<div class="noticias-famosos">
				<div class="noticias-header">
					<a href="" class="left active">Mais Lidas</a>
					<a href="" class="right">Últimas</a>
				</div>
				<ul class="noticias-middle">
					<li>
						<a href="">
							<img src="/images/templates/home/images/cidade.jpg"  width="100" height="100" />
						</a>
						<div><a href="#">Os famosos não perdem a chance de babar em suas crianças! Kelly Clarkson publica foto da filha e da enteada durante aula de equitação</a></div>							
					</li>
					<li>
						<a href="">
							<img src="/images/templates/home/images/ipe.jpg"  width="100" height="100" />
						</a>
						<div><a href="#">Os famosos não perdem a chance de babar em suas crianças! Kelly Clarkson publica foto da filha e da enteada durante aula de equitação</a></div>							
					</li>
					<li>
						<a href="">
							<img src="/images/templates/home/images/outono.jpg"  width="100" height="100" />
						</a>
						<div><a href="#">Os famosos não perdem a chance de babar em suas crianças! Kelly Clarkson publica foto da filha e da enteada durante aula de equitação</a></div>							
					</li>
					<li>
						<a href="">
							<img src="/images/templates/home/images/cupcakes.jpg"  width="100" height="100" />
						</a>
						<div><a href="#">Os famosos não perdem a chance de babar em suas crianças! Kelly Clarkson publica foto da filha e da enteada durante aula de equitação</a></div>							
					</li>
					<li>
						<a href="">
							<img src="/images/templates/home/images/folha.jpg"  width="100" height="100" />
						</a>
						<div><a href="#">Os famosos não perdem a chance de babar em suas crianças! Kelly Clarkson publica foto da filha e da enteada durante aula de equitação</a></div>							
					</li>
				</ul>
				<div class="noticias-footer">
					<a href="">Veja mais</a>
				</div>
				
			</div>
		</div>
		
		<div class="participe-top">
			<div class="participe">		
				<h1>
					<text-angular class="inlineEditor" ng-model="home.TI2[0]['title']" ta-html-editor-class="inlineEditor" ta-focussed-class="focussed" ta-toolbar="[]"></text-angular>
				</h1>
				<div class="enquete">
					<div class="foto-enquete"><img src="/images/templates/home/images/cidade.jpg" width="335" height="220" /></div>
					<div class="formulario-enquete">
						<h3>Enquete</h3>
						<h2>Como você gostaria de ver a nova edição do BBB</h2>
						<form action="" method="POST" name="enquete-interna">
							<div class="input-text">
								<div class="input-radio"><input type="radio" name="quiz[name]" value="op1" id="op11" class=""/><label for="op11"></label></div>
								<div class="text-radio">Só com ex-participantes</div>
							</div>
							<div class="input-text">
								<div class="input-radio"><input type="radio" name="quiz[name]" value="op2" id="op21" class=""/><label for="op21"></label></div>
								<div class="text-radio">Com uma casa na beira da praia</div>
							</div>
							<div class="input-text">
								<div class="input-radio"><input type="radio" name="quiz[name]" value="op3" id="op31" class=""/><label for="op31"></label></div>
								<div class="text-radio">Apresentada pelo Silvio Santos</div>
							</div>
							<div class="input-text">
								<div class="input-radio"><input type="radio" name="quiz[name]" value="op4" id="op41" class=""/><label for="op41"></label></div>
								<div class="text-radio">Só com celebridades</div>
							</div>
							<div class="input-btn">
								<input type="submit" name="enviar" value="Votar"/><a href="#" class="enquete-btn">Ver Resultado</a>
							</div>
						</form>
					</div>
				</div>
				<div class="quiz-publicidade">
					<div class="quiz-index">
						<img src="/images/templates/home/images/cupcakes.jpg" width="335" height="325"/>
						<div class="triangle">
							<h3>QUIZ</h3>
							<p>Quem é você na final da Fazenda7</p>
						</div>
					</div>
					<div class="publicidade">
						<div class="publicidade300x250"></div>
					</div>
				</div>
			</div>
			<div class="top-famosos">				
				<h1>
					<text-angular class="inlineEditor" ng-model="home.TI3[0]['title']" ta-html-editor-class="inlineEditor" ta-focussed-class="focussed" ta-toolbar="[]"></text-angular>
				</h1>
				<div class="top-destaques">
					<div class="{{item.style}} hasPostTools top-{{$index+1}}" ng-repeat="item in home.PR1 track by $index">
						<ul class="postTools">
							<li><a href="#" ng-click="setLink(item, $event)" class="btnLink fa fa-link"></a></li>
							<li><a href="#" ng-click="setPhoto(item, $event)" class="btnLink fa fa-image"></a></li>
							<li><a href="#" ng-click="setStyle(item, $event)" class="btnLink fa fa-cog"></a></li>
						</ul>
						<img ng-if="item.image.thumbnails" ng-src="{{imagePrefix}}{{item.image.thumbnails[($index == 0)?'335x280':'300x300']}}" />
						<!-- <img src="/images/templates/home/images/outono.jpg"  width="335" height="280" /> -->
						<div class="legenda">
							<div class="legenda-texto">
								<a><text-angular class="inlineEditor" ng-model="item.title" ta-html-editor-class="inlineEditor" ta-focussed-class="focussed" ta-toolbar="[]"></text-angular></a>
							</div>
						</div>
					</div>
					<!-- 
					<div class="teen top-2 left">
						<img src="/images/templates/home/images/cidade.jpg"  width="163" height="163" />
						<div class="legenda">
							<div class="legenda-texto">
								<a href="#">Julianne Moore</a>
							</div>
						</div>
					</div>
					<div class="estilo top-3 right">
						<img src="/images/templates/home/images/mapa.jpg"  width="163" height="163" />
						<div class="legenda">
							<div class="legenda-texto">
								<a href="#">Harry Stiles</a>
							</div>
						</div>
					</div>
					<div class="realities top-4 left">
						<img src="/images/templates/home/images/folha.jpg"  width="163" height="163" />
						<div class="legenda">
							<div class="legenda-texto">
								<a href="#">Julianne Moore</a>
							</div>
						</div>
					</div>
					<div class="series top-5 right">
						<img src="/images/templates/home/images/ipe.jpg"  width="163" height="163" />
						<div class="legenda">
							<div class="legenda-texto">
								<a href="#">Kate Walsh</a>
							</div>
						</div>
					</div>
					-->
				</div>
			</div>
		</div>
		
		
		<div class="moda-beleza-destaques">
			<div class="moda-beleza">
				<div class="destaques-famosos">
					<h1>
						<text-angular class="inlineEditor" ng-model="home.TI4[0]['title']" ta-html-editor-class="inlineEditor" ta-focussed-class="focussed" ta-toolbar="[]"></text-angular>
					</h1>
					
					<div class="destaques-famosos-left">
						<div class="{{item.style}} hasPostTools destaques-famosos-{{$index+1}}" ng-repeat="item in home.DT2 | limitTo:3" ng-init="format = ($index == 0)?'230x450':'230x220';">	
							<ul class="postTools">
								<li><a href="#" ng-click="setLink(item, $event)" class="btnLink fa fa-link"></a></li>
								<li><a href="#" ng-click="setPhoto(item, $event)" class="btnLink fa fa-image"></a></li>
								<li><a href="#" ng-click="setStyle(item, $event)" class="btnLink fa fa-cog"></a></li>
							</ul>
							<img ng-if="item.image.thumbnails" ng-src="{{imagePrefix}}{{item.image.thumbnails[format]}}" />
							<div class="legenda">
								<div class="legenda-texto">
									<h3><a><text-angular class="inlineEditor" ng-model="item.title" ta-html-editor-class="inlineEditor" ta-focussed-class="focussed" ta-toolbar="[]"></text-angular></a></h3>
									<a><text-angular class="inlineEditor" ng-model="item.fullText" ta-html-editor-class="inlineEditor" ta-focussed-class="focussed" ta-toolbar="[]"></text-angular></a>
								</div>
								<div class="compartilhar-famosos">	
									<ul>
										<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									</ul>								
								</div>
							</div>
						</div>
						<!--<div class="estilo destaques-famosos-1">	
							<img src="/images/templates/home/images/ipe.jpg" width="230" height="450">		
							<div class="legenda">
								<div class="legenda-texto">
									<h3><a href="#">Red carpet</a></h3>
									<a href="#">Grávida, Blake Lively vai a evento e usa look que exalta barriguinha</a>
								</div>
								<div class="compartilhar-famosos">	
									<ul>
										<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									</ul>								
									<a href="" class="icon-compartilhar"></a>	
								</div>
							</div>
						</div>
						<div class="celebridades destaques-famosos-2">			
							<img src="/images/templates/home/images/mapa.jpg" width="230" height="220">		
							<div class="legenda">
								<div class="legenda-texto">
									<h3><a href="#">Ops</a></h3>
									<a href="#">Modelo da Victoria’s Secret deixa calcinha à mostra, veja!</a>
								</div>
								<div class="compartilhar-famosos">	
									<ul>
										<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									</ul>								
									<a href="" class="icon-compartilhar"></a>	
								</div>
							</div>
						</div>
						<div class="celebridades destaques-famosos-3">		
							<img src="/images/templates/home/images/outono.jpg" width="230" height="220">		
							<div class="legenda">
								<div class="legenda-texto">
									<h3><a href="#">Polêmica</a></h3>
									<a href="#">Jerry Hall acha patéticas mulheres que fazem cirurgias estéticas, confira!</a>
								</div>
								<div class="compartilhar-famosos">	
									<ul>
										<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									</ul>								
									<a href="" class="icon-compartilhar"></a>	
								</div>
							</div>									
						</div>-->
					</div>
					<div class="destaques-famosos-right">
						<div class="{{item.style}} hasPostTools destaques-famosos-{{$index+2}}" ng-repeat="item in home.DT2 | limitTo:6" ng-if="$index == 3">	
							<ul class="postTools">
								<li><a href="#" ng-click="setLink(item, $event)" class="btnLink fa fa-link"></a></li>
								<li><a href="#" ng-click="setPhoto(item, $event)" class="btnLink fa fa-image"></a></li>
								<li><a href="#" ng-click="setStyle(item, $event)" class="btnLink fa fa-cog"></a></li>
							</ul>
							<img ng-if="item.image.thumbnails" ng-src="{{imagePrefix}}{{item.image.thumbnails['230x450']}}" />
							<div class="legenda">
								<div class="legenda-texto">
									<h3><a><text-angular class="inlineEditor" ng-model="item.title" ta-html-editor-class="inlineEditor" ta-focussed-class="focussed" ta-toolbar="[]"></text-angular></a></h3>
									<a><text-angular class="inlineEditor" ng-model="item.fullText" ta-html-editor-class="inlineEditor" ta-focussed-class="focussed" ta-toolbar="[]"></text-angular></a>
								</div>
								<div class="compartilhar-famosos">	
									<ul>
										<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									</ul>								
								</div>
							</div>
						</div>
						<!--<div class="estilo destaques-famosos-5">		
							<img src="/images/templates/home/images/cupcakes.jpg" width="230" height="450">				
							<div class="legenda">
								<div class="legenda-texto">
									<h3><a href="#">Cabeça de fogo!</a></h3>
									<a href="#">Julianne Moore, Kate Walsh e mais ruivas poderosas do showbiz!</a>
								</div>
								<div class="compartilhar-famosos">	
									<ul>
										<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									</ul>								
									<a href="" class="icon-compartilhar"></a>	
								</div>
							</div>	
						</div>-->
					</div>
				</div>
			</div>
			<div class="moda-destaques">
				<h1>
					<text-angular class="inlineEditor" ng-model="home.TI5[0]['title']" ta-html-editor-class="inlineEditor" ta-focussed-class="focussed" ta-toolbar="[]"></text-angular>
				</h1>
				
				<div class="moda-destaques">
					<div class="moda-{{$index+1}} hasPostTools" ng-repeat="item in home.DT3 track by $index">
						<ul class="postTools">
							<li><a href="#" ng-click="setLink(item, $event)" class="btnLink fa fa-link"></a></li>
							<li><a href="#" ng-click="setPhoto(item, $event)" class="btnLink fa fa-image"></a></li>
							<li><a href="#" ng-click="setStyle(item, $event)" class="btnLink fa fa-cog"></a></li>
						</ul>
						<img ng-if="item.image.thumbnails" ng-src="{{imagePrefix}}{{item.image.thumbnails['335x220']}}" />
						<div class="legenda">
							<div class="legenda-texto">
								<a><text-angular class="inlineEditor" ng-model="item.title" ta-html-editor-class="inlineEditor" ta-focussed-class="focussed" ta-toolbar="[]"></text-angular></a>
							</div>
						</div>		
					</div>
				</div>
				
			</div>
		</div>
		
		
		<div class="vote-fotos">
			<div class="vote">
				<h1><text-angular class="inlineEditor" ng-model="home.TI6[0]['title']" ta-html-editor-class="inlineEditor" ta-focussed-class="focussed" ta-toolbar="[]"></text-angular></h1>
				
				<div class="vote-opcoes">
					<div class="opcao-1 left">
						<img src="/images/templates/home/images/ipe.jpg" width="230" height="515" />
						<div class="opcao-descricao"><a href="">Sabrina Sato</a></div>
					</div>
					<div class="opcao-2 right">
						<img src="/images/templates/home/images/mapa.jpg" width="230" height="515" />
						<div class="opcao-descricao"><a href="">Debora Seco</a></div>
					</div>
				</div>
			</div>
			<div class="fotos">
				<h1><text-angular class="inlineEditor" ng-model="home.TI7[0]['title']" ta-html-editor-class="inlineEditor" ta-focussed-class="focussed" ta-toolbar="[]"></text-angular></h1>
				
				<div class="rotativo-fotos">
					<div class="controls">
						<a href="#" class="prev left"><i class="fa fa-angle-left"></i></a>
						<a href="#" class="next right"><i class="fa fa-angle-right"></i></a>
					</div>
					<ul>
						<li class="celebridades">
							<img src="/images/templates/home/images/cidade.jpg" width="540" height="515" />
							<div class="legenda">
								<div class="legenda-texto">										
									<h3><a href="#">Nicole Richie aparece com o cabelo azul! Veja famosos de cabelos coloridos!</a></h3>
									<a href="#">Verde, púrpura, branco, azul... não existe limite quando o assunto é a cabeleira dos famosos, e eles mudam sem medo!</a>
								</div>
								<div class="compartilhar-famosos">	
									<ul>
										<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									</ul>								
									<a href="" class="icon-compartilhar"></a>	
								</div>
							</div>	
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="publicidade-full publicidade"><div class="publicidade728x90"></div></div>
		
		<div class="destaques-carrossel">
			<h1><text-angular class="inlineEditor" ng-model="home.TI8[0]['title']" ta-html-editor-class="inlineEditor" ta-focussed-class="focussed" ta-toolbar="[]"></text-angular></h1>
			<div class="carrossel">
				<div class="controls">
					<a href="#" class="prev left"><i class="fa fa-angle-left"></i></a>
					<a href="#" class="next right"><i class="fa fa-angle-right"></i></a>
				</div>
				<ul>
					<li class="{{item.style}} hasPostTools" ng-repeat="item in home.DT5">
						<ul class="postTools">
							<li><a href="#" ng-click="setLink(item, $event)" class="btnLink fa fa-link"></a></li>
							<li><a href="#" ng-click="setPhoto(item, $event)" class="btnLink fa fa-image"></a></li>
							<li><a href="#" ng-click="setStyle(item, $event)" class="btnLink fa fa-cog"></a></li>
						</ul>
						<a>
							<img ng-if="item.image.thumbnails" ng-src="{{imagePrefix}}{{item.image.thumbnails['194x176']}}" />
						</a>
						<h3><a><text-angular class="inlineEditor" ng-model="item.title" ta-html-editor-class="inlineEditor" ta-focussed-class="focussed" ta-toolbar="[]"></text-angular></a></h3>
						<p><a><text-angular class="inlineEditor" ng-model="item.fullText" ta-html-editor-class="inlineEditor" ta-focussed-class="focussed" ta-toolbar="[]"></text-angular></a></p>
						<div class="compartilhar-carrossel">	
							<nav>
								<a href="#"><i class="fa fa-facebook-square"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
							</nav>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<footer>	
	<div class="footer-conteudo">
	
		<div class="footer-destaque">
			<div class="bg-descricao left">			
				<div class="footer-destaque-descricao">
					<h3>NOVELAS</h3>
					<p><text-angular class="inlineEditor" ng-model="home.NV[0].title" ta-html-editor-class="inlineEditor" ta-focussed-class="focussed" ta-toolbar="[]"></text-angular></p>
				</div>
			</div>
			<div class="bg-rotativo right">
				<div class="rotativo-footer-destaque">						
					<div class="controls">
						<a href="#" class="prev left"><i class="fa fa-angle-left"></i></a>
						<a href="#" class="next right"><i class="fa fa-angle-right"></i></a>
					</div>
					<ul>
						<li class="hasPostTools" ng-repeat="item in home.NV2">
							<ul class="postTools">
								<li><a href="#" ng-click="setLink(item, $event)" class="btnLink fa fa-link"></a></li>
								<li><a href="#" ng-click="setPhoto(item, $event)" class="btnLink fa fa-image"></a></li>
							</ul>
							<a>
								<img ng-if="item.image.thumbnails" ng-src="{{imagePrefix}}{{item.image.thumbnails['620x100']}}" />
							<!-- <img src="/images/templates/home/images/folha.jpg" width="620" height="100" /> -->
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="footer-redes">
			<div class="center">
				<div class="footer-redes-descricao">
					<h2>REDES</h2>
					<h3>SOCIAIS</h3>
				</div>
				<div class="footer-redes-lista">
					<a href="#" class="fb"><i class="fa fa-facebook-square"></i>FACEBOOK</a>
					<a href="#" class="tw"><i class="fa fa-twitter"></i>TWITTER</a>
				</div>
			</div>
		</div>
		
		
		
		<div class="footer-lista">
			<div class="center">
				<div class="footer-aplicativo">
						<h2>BAIXE NOSSO</h2>
						<h3>APLICATIVO</h3>
					
						<div class="footer-baixar-app">
							<a href="" class="baixar-google-play"></a>
							<a href="" class="baixar-apple-store"></a>						
						</div>
				</div>
				<div class="footer-links">
				
					<div class="footer-links-editoriais">
						<h3>EDITORIAIS</h3>
						<ul>
							<li><a href="">Item um da lista</a></li>
							<li><a href="">Item um da lista</a></li>
							<li><a href="">Item um da lista</a></li>
							<li><a href="">Item um da lista</a></li>
							<li><a href="">Item um da lista</a></li>
							<li><a href="">Item um da lista</a></li>
							<li><a href="">Item um da lista</a></li>
							<li><a href="">Item um da lista</a></li>
							<li><a href="">Item um da lista</a></li>
							<li><a href="">Item um da lista</a></li>
							<li><a href="">Item um da lista</a></li>
							<li><a href="">Item um da lista</a></li>
						</ul>
					</div>
						
					
					<div class="footer-links-especiais">
						<h3>ESPECIAIS</h3>
						<ul>
							<li><a href="">Item um da lista</a></li>
							<li><a href="">Item um da lista</a></li>
							<li><a href="">Item um da lista</a></li>
							<li><a href="">Item um da lista</a></li>
							<li><a href="">Item um da lista</a></li>
							<li><a href="">Item um da lista</a></li>
							<li><a href="">Item um da lista</a></li>
							<li><a href="">Item um da lista</a></li>
							<li><a href="">Item um da lista</a></li>
							<li><a href="">Item um da lista</a></li>
							<li><a href="">Item um da lista</a></li>
							<li><a href="">Item um da lista</a></li>
							
							<li><a href="">Item um da lista</a></li>
							<li><a href="">Item um da lista</a></li>
							<li><a href="">Item um da lista</a></li>
							<li><a href="">Item um da lista</a></li>
							<li><a href="">Item um da lista</a></li>
							<li><a href="">Item um da lista</a></li>
							<li><a href="">Item um da lista</a></li>
							<li><a href="">Item um da lista</a></li>
							<li><a href="">Item um da lista</a></li>
							<li><a href="">Item um da lista</a></li>
							<li><a href="">Item um da lista</a></li>
							<li><a href="">Item um da lista</a></li>
						</ul>
					</div>
						
					
					<div class="footer-links-destaques">
						<h3>DESTAQUES</h3>
						<ul>
							<li><a href="">Item um da lista</a></li>
							<li><a href="">Item um da lista</a></li>
							<li><a href="">Item um da lista</a></li>
							<li><a href="">Item um da lista</a></li>
							<li><a href="">Item um da lista</a></li>
							<li><a href="">Item um da lista</a></li>
							<li><a href="">Item um da lista</a></li>
							<li><a href="">Item um da lista</a></li>
							<li><a href="">Item um da lista</a></li>
							<li><a href="">Item um da lista</a></li>
							<li><a href="">Item um da lista</a></li>
							<li><a href="">Item um da lista</a></li>
						</ul>
					</div>
					
				</div>
			</div>
		</div>
		
	</div>
	<div class="footer">
		<div class="center">
			<div class="footer-logo-menu">
				<div class="footer-logo">
					<img src="/images/templates/home/images/logo.png" />
				</div>
				<div class="footer-menu">
					<nav>
						<a href="">QUEM SOMOS</a>
						<a href="">FALE CONOSCO</a>
						<a href="">ANUNCIE NO ESTRELANDO</a>
						<a href="">TRABALHE NO ESTRELANDO</a>
					</nav>
				</div>
			</div>
			<div class="copyright-container">
				<div class="copyright">Copyright - 2015 | Todos os direitos reservados</div>
				<div class="container">Desenvolvido por <a href="http://containerdigital.com.br/" target="_blank"><img src="/images/templates/home/images/logo-container.png" /></a></div>
			</div>
		</div>
	</div>
	<div class="footer-bg"></div>
</footer>

</div>